/* GENERAL */

.root {
    min-width: 320px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

/* CROSS-PAGES */

/* Header */

.header {
    display: flex;
}

.header__img {
    width: 100%;
}

.header__btn {
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Sen', sans-serif;
    font-weight: 800;
    color: #FFFFFF;
    background-color: #5222D0;
    border-radius: 100px;
    text-transform: uppercase;
}

.header__btn span {
    margin-right: 10px;
}

/* Navigation bar */

.nav {
    display: flex;
    align-items: center;
    height: 150px;
    margin-left: 9%;
}

.nav__link {
    margin-right: 34px;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #5222D0;
}

.nav__link:hover {
    color: #000000;
}


/* HOME PAGE */

.intro {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.intro__btn {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: #5222D0;
    border-radius: 100px;
}

.intro__btn span {
    margin-right: 10px;
}

.intro__title,
.intro__btn {
    font-family: 'Sen', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.intro__txt {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}


/* FEATURES PAGE */

.features {
    width: 88%;
    margin: 0 auto;
}

.features__content {
    display: grid;
}

.feature__image {
    width: 100%;
}

.features__title {
    margin-bottom: 0;
}

.features__title,
.feature__title,
.subscribe__title,
.subscribe__btn {
    font-family: 'Sen', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.subscribe__title {
    color: #FFFFFF;
}

.feature__txt,
.subscribe__email {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

.subscribe__content {
    height: 100%;
    padding-left: 18px;
    border: 1px solid #EC615B;
    background-color: #EC615B;
}

.subscribe__email {
    margin-bottom: 23px;
    border: 0;
}

.subscribe__btn {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #FFFFFF;
    background-color: #5222D0;
    border: 0;
    border-radius: 100px;
}

.feature:hover {
    border: 1px solid #EC615B;
}

.subscribe__btn:hover {
    cursor: pointer;
}


/* DESKTOP */

@media screen and (min-width: 1024px) {

    /* CROSS-PAGES */

    /* Header */

    .header {
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 150px;
        margin-left: 5%;
    }

    .header__btn span {
        font-size: 0.8125rem;
    }

    /* Navigation bar */

    .nav__link {
        font-size: 1.25rem;
        line-height: 160%;
    }

    /* HOME PAGE */

    .home {
        background-image: url(../assets/background.svg);
        background-repeat: no-repeat;
        background-position: 720px 100px;
    }

    .intro {
        width: 542px;
        margin-left: 9%;
        margin-bottom: 60px;
    }

    .intro__title {
        font-size: 3.75rem;
    }

    .intro__txt {
        margin-top: 0;
        margin-bottom: 50px;
        font-size: 1.25rem;
        line-height: 160%;
    }

    .intro__btn {
        padding: 25px;
    }

    .intro__btn span {
        font-size: 2.25rem;
    }

    /* FEATURES PAGE */

    .features__title {
        margin-left: 35px;
        font-size: 3.75rem;
    }

    .features__content {
        grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    }

    .feature,
    .subscribe {
        padding: 26px 35px 25px 40px;
    }

    .feature__title,
    .subscribe__title {
        font-size: 1.875rem;
    }

    .feature__txt,
    .subscribe__email {
        font-size: 1.25rem;
        line-height: 2rem;
    }

    .subscribe__btn {
        font-size: 0.8125rem;
    }
}


/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* CROSS PAGES */

    /* Header */

    .header {
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 150px;
        margin-left: 5%;
    }

    .header__btn span {
        font-size: 0.8125rem;
    }

    /* Navigation bar */

    .nav__link {
        font-size: 1rem;
        line-height: 160%;
    }

    /* HOME PAGE */

    .intro {
        margin-left: 9%;
        padding-bottom: 60px;
        background-image: url(../assets/background.svg);
        background-repeat: no-repeat;
        background-size: 370px;
        background-position: bottom right;
    }

    .intro__title,
    .intro__txt {
        width: 500px;
    }

    .intro__title {
        font-size: 3rem;
    }

    .intro__txt {
        margin-top: 0;
        margin-bottom: 50px;
        font-size: 1rem;
        line-height: 160%;
    }

    .intro__btn {
        padding: 25px;
    }

    .intro__btn span {
        font-size: 1.75rem;
    }

    /* FEATURES PAGE */

    .features__title {
        margin-left: 35px;
        font-size: 3rem;
    }

    .features__content {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .feature,
    .subscribe {
        padding: 26px 35px 25px 40px;
    }

    .feature__title,
    .subscribe__title {
        font-size: 1.5rem;
    }

    .feature__txt,
    .subscribe__email {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .subscribe__content {
        padding-bottom: 20px;
    }

    .subscribe__btn {
        font-size: 0.75rem;
    }
}


/* MOBILE */

@media screen and (max-width: 767px) {

    /* CROSS PAGES */

    /* Header */

    .header {
        justify-content: space-between;
        align-items: center;
        width: 90%;
        height: 150px;
        margin-left: 5%;
    }

    .header__home {
        width: 150px;
    }

    .header__btn span {
        font-size: 0.75rem;
    }

    /* Navigation bar */

    .nav {
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 30px;
    }

    .nav__link {
        font-size: 0.875rem;
        line-height: 160%;
    }

    /* HOME PAGE */

    .intro {
        align-items: center;
        margin: 0 9% 60px 9%;
        text-align: center;
    }

    .intro__title {
        font-size: 2rem;
    }

    .intro__txt {
        margin-top: 0;
        margin-bottom: 50px;
    }

    .intro__txt {
        font-size: 0.875rem;
        line-height: 160%;
    }

    .intro__btn {
        padding: 20px;
    }

    .intro__btn span {
        font-size: 1.5rem;
    }

    /* FEATURES PAGE */

    .features__title {
        font-size: 1.75rem;
    }

    .features__content {
        grid-template-columns: minmax(300px, 1fr);
        margin-bottom: 30px;
    }

    .feature,
    .subscribe {
        padding: 26px 20px 15px 0;
    }

    .feature__title,
    .subscribe__title {
        font-size: 1.25rem;
    }

    .feature__txt,
    .subscribe__email {
        font-size: 0.875rem;
        line-height: 1.75rem;
    }

    .subscribe__content {
        padding-bottom: 20px;
    }

    .subscribe__btn {
        font-size: 0.75rem;
    }
}